@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;1,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,600&family=Roboto:ital,wght@0,100;0,500;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
/* body{
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img/fundopizza.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px; 
} */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    
}

.logo{
    display: flex;
    align-items: center;
}
.list-menu{
    display: flex;
    flex-direction: row;
}
.logo h3{
    color: white;
}
.list-menu ul{
    display: flex;
    align-items: center;

    gap: 20px;
}
.list-menu a{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 200ms ease-in;
}
.list-menu a:hover{
    background-color: #333333;
    border-bottom: 2px solid #ffc506;
    color: #ffc506;
}
.list-menu i{
    font-size: 20px;
}

/* primeira seçao */
.firts-section{
    height: 100vh;
    width: 100vw;
    background-color: black;
    /* imagens prinbcipal */
    /* background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img/fundopizza.jpg); */
    background-image: url(./img/fundopizza.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;

}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.conteudo-principal h1{
    font-size: 40px;
    color: #ffc506;
    font-weight: 700;
    text-transform: uppercase;
}
.conteudo-principal h2{
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(177, 177, 177);
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.btns button{
    width: 230px;
    height: 60px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    background-color: #ffc506;
    cursor: pointer;
    transition: all 400ms ease-in;

}
.btns button:hover{
    border: 1px solid #ffc506;
    background-color: transparent;
    color: #ffc506;
}

/* SOBRE NOS */

.sobre-nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    

    
    
}
.sobre{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    background-color: black;
    
}
.sobre-nos h2{
    font-size: 35px;
    color: white;

}
.sobre-nos p{
    text-align: center;
    width: 600px;
    color: white;
}
.sobre-nos-img{
    border: 1px solid white;
}

/* CARDAPIO */
.cardapio{
    margin: 10px 0px;

}

.itens-cardapio{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 450px)); 
    
    /* grid-template-columns: 400px 400px;
    grid-template-rows: 300px 300px; */
    
}
.itens-cardapio img {
    height: 200px;
    width: 100%;
    
    
}
.frango, .calabresa , .portuguesa, .strogonnof, .chocolate , .sensaçao, .confete, .prestigio{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    
}
.portuguesa img , .strogonnof img, .chocolate img, .sensaçao img, .confete img, .prestigio img, .frango img, .calabresa img{
    height: 200px;
    width: 100%;
    

}


.cardapio h1{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: gray;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.info{
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
    width: 300px;
    
}
.info h3{
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 20px;

}
.info h4, span{
    color:#585858;
    display: flex;
   gap: 40px;
    margin-bottom: 20px;
    text-decoration: underline;
    
    
}
.info h4{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 150px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.btn button{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    color: black;
    background-color: #ffc506;
    transition: all 200ms ease-in;
}
.btn button:hover{
    background-color: transparent;
    border: 1px solid #ffc506;

}

/* CONTATOS */

.contatos{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #333333;
    padding: 20px;
    
}
.contatos h1{
    font-size: 35px;
    color: white;
    padding-bottom: 20px;
}
.telefone{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.telefone p{
    color: white;
}
.telefone i{
    font-size: 20px;
}
footer{
    background-color:black;
    display: flex;
    justify-content: center;
}
footer h3{
    color: white;
}

